---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="チーム情報"
	description="綱島ドッジボールクラブ「インフィニティ」～子供たちの「無限の可能性」を追求していきます～"
	pubDate={new Date()}
	heroImage={AboutHeroImage}
>
	<div class="team-info-content">
		<h3>綱島ドッジボールクラブ「インフィニティ」設立に関して</h3>
		<p style="text-align: center; font-size: 1.1em; margin-bottom: 3em;">～子供たちの「無限の可能性」を追求していきます～</p>
		
		<p>日頃、お世話になっております。</p>
		<p>この度、主に小学生を対象としたドッジボールクラブ「インフィニティ」を設立いたしました。</p>

		<h3>■当チームについて</h3>
		<p>
			当チームは東京大学大学院、慶應義塾大学 OB・OG のドッジボール愛好家が中心となり設立されました。
			選抜クラス、エンジョイクラスに分けて活動します。（練習は合同です。）
			選抜クラスの目標は「全国大会優勝」「日本一」です。
			当チームでは、コーチ陣も子供たちも「文武両道」を目指す事を徹底します。
			練習では、基本的なスキルから戦略、チームワークまでを学びながら、自己成長と楽しさを追求します。
		</p>

		<h3>■コーチ陣紹介</h3>
		<p>
			当チームは、スポーツ経験豊富なコーチ陣により組織され、個々の能力を最大限に引き出すことを目指し
			ます。元プロサッカー選手（2003 年度小学生サッカー全国大会「チビリンピック」準優勝/あざみ野 FC、
			横浜 F マリノス下部組織、東京大学でプレー）、現役の慶應義塾大学体育会ウエイトリフティング部トレー
			ナー等が在籍しており、ハイレベルな指導を受けることが出来ます。無限の可能性を秘めた子供たちを、
			情熱と経験でサポートします。コーチ陣の詳細は<a href="/coaches">こちら</a>から、ご覧いただけます。
		</p>

		<h3>■入会方法</h3>
		<p>
			年齢、性別、経験等は問いません。ドッジボールに興奮し、楽しみ、成長したいと思うすべての子供たち
			を歓迎します。
		</p>
		<p>
			入会については以下の項目をご記入の上、<a href="mailto:daisuke.matsumoto0817@gmail.com">daisuke.matsumoto0817@gmail.com</a> まで、ご連絡ください。<br>
			・件名は「インフィニティへの入会について」としてください。<br>
			・お子様の氏名/生年月日/所属学校/スポーツ歴（所属チーム等）及び保護者氏名をご記入ください。
		</p>

		<h3>■お問い合わせ</h3>
		<p>
			ご質問、取材申し込み、練習試合申し込み、ご支援、ご寄付のご相談等は下記代表メールアドレスにご連
			絡ください。<br>
			<a href="mailto:daisuke.matsumoto0817@gmail.com">daisuke.matsumoto0817@gmail.com</a>
		</p>

		<h3>■費用に関して</h3>
		<p>
			入会金 5,000 円、会費 1,000 円/月（月末払い）となっております。<br>
			遠征費、合宿費、ユニフォーム代、大会参加費、保険料等は別途ご負担ください。
		</p>

		<h3>■練習に関して</h3>
		<p>
			土日祝、平日夜に港北区内綱島駅周辺の小中学校体育館（綱島東小学校など）を使用予定です。<br>
			なお、代表の松本大輔、妻の松本真弥はほぼ毎日 16 時ごろから綱島東三丁目公園で自主練をしております
			ので、見かけたらお声かけください。
		</p>

		<h3>■代表者情報</h3>
		<p>
			氏名 ：松本 大輔（まつもと だいすけ）<br>
			生年月日：1992 年 8 月 17 日<br>
			住所 ：横浜市港北区綱島東 3-2-40-2 エム（何号室かは直接お尋ねください）<br>
			電話番号：090-2232-4938（緊急時のみ）<br>
			メール ：<a href="mailto:daisuke.matsumoto0817@gmail.com">daisuke.matsumoto0817@gmail.com</a>（通常時こちらにご連絡ください。）
		</p>

		<h3>■代表者経歴</h3>
		<p>
			ドッジボールに関しては、小学生時代に青葉台学童保育で主将を務めました。当時、もぐら島（2025 年に
			全国大会優勝、2024 年に全国大会準優勝した超名門チーム）の母体である「もぐら学童保育」と「青葉台
			学童保育」はライバル関係にあり、対戦成績は五分五分でした。
		</p>
		<p>
			サッカーに関しては、小学生時代は「あざみ野 FC」に在籍し、全国大会準優勝＆神奈川県大会優勝を経験
			しました。その後、横浜 F マリノス下部組織、東京ヴェルディ下部組織、トレセン、東京大学 PASSERS、
			SONY サッカー部等でプレーしました。また、東京大学大学院在学中に UFL(現 PFL) 1 部リーグに所属す
			るプロサッカーチーム" The Sparks "のプロテストに合格しました。2017 年に東京大学大学院鈴木寛研究室
			を首席（事例研究）で修了後、ソニー株式会社（現：ソニーグループ株式会社）に入社し、約 8 年間お世
			話になりました。東京大学大学院時代の恩師である鈴木寛教授は元文部科学副大臣で、教育政策の実務に
			ついてご指導いただきました。また、2024 年 12 月に入籍し姓を松本に改めました。現在は妻がオーナー
			の松本合同会社（経済産業省 HP 記載/法人番号:8020003026974）で社長を務めています。
		</p>

		<p style="margin-top: 3em; font-size: 0.9em; font-style: italic;">
			※本資料は著作権フリーです。学校、ご友人等への配布可となっております。是非、広めてください！
		</p>
	</div>

	<style>
		.team-info-content {
			line-height: 1.8;
		}
		
		.team-info-content h3 {
			margin-top: 3em;
			margin-bottom: 1.5em;
			color: var(--primary-color);
			font-size: 1.3rem;
		}
		
		.team-info-content p {
			margin-bottom: 1.5em;
		}
		
		.team-info-content a {
			color: var(--accent-color);
			text-decoration: none;
		}
		
		.team-info-content a:hover {
			text-decoration: underline;
		}
	</style>
</Layout>
